<!-- header -->

<div class="container">



    <!-- details -->
    <section>

        <h4 class="">Create Pay Stubs for Free...</h4>
        <p>Our site provides free powerful tool to build Pay Stubs in seconds and it is free of cost.</p>
        <!-- <a class="btn btn-success btn-sm" routerLink="/forms">Create A PayStub Free</a> -->

        <a class="btn btn-success btn-sm" (click)="nav()">Create A PayStub Free</a>
        <br />
        <br />

        <img class="mt-4" src="../../../assets/paystub.png" alt="paystub">

    </section>



</div>
<footer>
    <div class="bg-dark text-center mt-5 text-white">@PayCheck 2021</div>
</footer>